#https://clang.llvm.org/extra/clang-tidy/#id2
# checks to revisit once this is under control:
# cppcoreguidelines-pro-bounds-constant-array-index — revisit w/ gsl::at, not urgent
# cppcoreguidelines-init-variables
# modernize-use-nullptr
# modernize-deprecated-headers
# modernize-use-auto
# modernize-use-bool-literals
# performance-no-int-to-ptr
# der_libs/common.h:163:6: warning: enum 'file_time_select_t' is unscoped, use 'enum class' instead 
#    [cppcoreguidelines-use-enum-class]
# der_libs/common_funcs.cpp:292:10: warning: do not access members of unions; 
#    consider using (boost::)variant instead 
#    [cppcoreguidelines-pro-type-union-access]
# der_libs/common.h:163: warning: enum 'file_time_select_t' is unscoped, use 'enum class' instead 
#    [cppcoreguidelines-use-enum-class]
# der_libs/common.h:163:6: warning: enum 'file_time_select_t' uses a larger base type 
#    ('unsigned int', size: 4 bytes) than necessary for its value set, consider using 
#    'std::uint8_t' (1 byte) as the base type to reduce its size 
#    [performance-enum-size]
# der_libs/common_funcs.cpp:1068:4: warning: calling legacy resource function without 
#    passing a 'gsl::owner<>' 
#    [cppcoreguidelines-owning-memory]
# der_libs/common_win.cpp:464:34: 
#    warning: casting (double + 0.5) to integer leads to incorrect rounding; 
#    consider using lround (#include <cmath>) instead 
#    [bugprone-incorrect-roundings]
# der_libs/wthread.cpp:24:4: 
#    warning: 'thread_running' should be initialized in a member initializer of the constructor 
#    [cppcoreguidelines-prefer-member-initializer]
# der_libs/wthread.h:32:4: warning: function 'get_thread_ID' should be marked [[nodiscard]] 
#    [modernize-use-nodiscard]




Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-incorrect-roundings,
  -bugprone-switch-missing-default-case,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-prefer-member-initializer,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-use-using,
  -modernize-macro-to-enum,
  -modernize-use-nullptr,
  -modernize-avoid-c-style-cast,
  -modernize-deprecated-headers,
  -modernize-use-auto,
  -modernize-avoid-variadic-functions,
  -modernize-use-bool-literals,
  -cppcoreguidelines-avoid-do-while,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  performance-*,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  